.create-button a {
    color: white;
    background-color: #134761;
}

.create-button button {
    background-color: #134761;
}

    .create-button button:hover {
        background-color: #163057;
    }

.create-button a:hover {
    color: white;
    background-color: #163057;
}

#link {
    text-decoration: none;
}

.search-form {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
    margin-left: 550px;
    margin-top: 30px;
}

.form-group {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 550px;
}

label {
    margin-right: 10px;
}

.form-control {
    height: 40px;
    margin-right: 10px;
    padding: 10px;
}

.search-button {
    height: 40px;
    width: 50px;
    background-color: #134761;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
}

    .search-button:hover {
        background-color: #163057;
        cursor: pointer;
    }

td a i {
    font-size: 0.9em;
    margin-right: 10px;
    text-decoration: none;
}