@model WebProject.ViewModels.ThesisRequestEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Status"></label>
                <select asp-for="Status" class="form-control" disabled="@(User.IsInRole("Student"))">
                    <option value="Draft">Draft</option>
                    <option value="Accepted">Accepted</option>
                    <option value="Denied">Denied</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProfessorId">Professor</label>
                <select asp-for="ProfessorId" asp-items="Model.Professors" class="form-control">
                    <option value="">-- Select a professor --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ThesisSubjectId">Thesis Subject</label>
                <select asp-for="ThesisSubjectId" asp-items="Model.ThesisSubjects" class="form-control">
                    <option value="">-- Select a subject --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
